<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodiez</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#1a191c"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <meta name="description" content="Browse menus, read reviews, and find the perfect restaurant for every craving. Start your culinary journey today!">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Karla:ital,wght@0,300;1,600&family=Libre+Caslon+Display&family=Noto+Serif+Display:wght@400;500;600&family=Playfair:wght@500;600&family=Poppins:wght@300;400;500;800&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="nav-brand">
          <a href="#" class="brand-title nav-link">Foodiez</a>
        </div>
        <div class="dropdown">
          <button type="button" aria-label="Aria Bars" id="btn-dropdown" class="btn-dropdown"><i class="fa fa-thin fa-bars"></i></button>
          <div id="dropdown-menu" class="dropdown-menu" >
            <ul>
              <li><a class="nav-link" href="/">Home</a></li>
              <li><a href="#/favorite">My Favorite</a></li>
              <li><a class="nav-link" href="https://www.linkedin.com/in/winarwahyuw/" target="_blank">About Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main id="main-content"></main>
    <footer>
      <div class="info">
        <div class="left">
          <a href="#">Recommendation</a>
          <a href="#">Affiliate</a>
          <a href="#">Career</a>
        </div>
        <div class="right">
          <p>CONTACT US</p>
          <p>team@foodiez.co.id</p>
        </div>
      </div>
      <!-- <div id="footerTools">
        <button id="subscribePushNotification" class="btn">Subscribe Push Notification</button>
        <button id="unsubscribePushNotification" class="btn">Unsubscribe Push Notification</button>
      </div> -->
      <p class="copyright">COPYRIGHT &copy FOODIEZ 2023</p>
    </footer>
  </body>
</html>