<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodiez</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"></link>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Karla:ital,wght@0,300;1,600&family=Libre+Caslon+Display&family=Noto+Serif+Display:wght@400;500;600&family=Playfair:wght@500;600&family=Poppins:wght@300;400;500;800&display=swap" rel="stylesheet">
</head>
<body>
  <a href="#main-content" class="skip-link">Menuju ke konten</a>
  <header>
    <nav class="nav">
      <div class="nav-brand">
        <a href="#" class="brand-title nav-link">Foodiez</a>
      </div>
      <div class="dropdown">
        <button type="button" aria-label="Aria Bars" id="btn-dropdown" class="btn-dropdown"><i class="fa fa-thin fa-bars"></i></button>
        <div id="dropdown-menu" class="dropdown-menu" >
          <ul>
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="#">Favorite</a></li>
            <li><a class="nav-link" href="https://www.linkedin.com/in/winarwahyuw/" target="_blank">About Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="overlay">
        <h1 class="title">Good Food Brings <br> Good Mood</h1>
        <p class="sub-title">Find the delicious food to make your day!</p>
        <a class="btn btn-secondary" href="#" aria-label="Aria Explore">EXPLORE</a>
      </div>
    </div>
  </header>
  <main class="container" id="main-content">
    <div class="sub-main" id="our-story">
      <h2>Our Story</h2>
      <p>Food is more than sustenance. It is a vibrant tapestry of flavors, textures, and aromas that dance upon the taste buds. It has the power to evoke memories, forge connections, and ignite the senses. From the sizzling sound of a steak searing on a hot grill to the delicate aroma of freshly baked bread, food entices and captivates us. It is a language that transcends borders, bringing people together to share in the joy of nourishment and culinary exploration. Whether it's the simplicity of a perfectly ripe fruit or the complexity of a multi-course feast, food is a universal pleasure that celebrates culture, creativity, and the beauty of the senses.</p>
    </div>

    <div class="sub-main slider">
      <div class="slider-header">
        <div class="left">
          <h2>Populer Nusantara</h2>
          <p>Andalan setiap kota</p>
        </div>
        <div class="right">
          <button id="left-arrow" aria-label="left arrow" class="btn arrow"><i class="fa fa-angle-left"></i></button>
          <button id="right-arrow" aria-label="right arrow" class="btn arrow"><i class="fa fa-angle-right"></i></button>
        </div>
      </div>
      <div class="slider-content" id="popular">
      </div>
    </div>

    <div class="sub-main" id="subscribe">
      <h2>Stay Connected with Foodiez</h2>
      <p>Subscribe for Delicious Updates!</p>
      <form action="#" method="post">
        <input type="email" placeholder="yours@mail.com" name="subscribe_email" id="subscribe-email" class="form-input">
        <button type="submit" class="btn-outline-primary">SEND</button>
      </form>
    </div>
  </main>
  <footer>
    <div class="info">
      <div class="left">
        <a href="#">Recommendation</a>
        <a href="#">Affiliate</a>
        <a href="#">Career</a>
      </div>
      <div class="right">
        <p>CONTACT US</p>
        <p>team@foodiez.co.id</p>
      </div>
    </div>
    <p class="copyright">COPYRIGHT &copy FOODIEZ 2023</p>
  </footer>
</body>
</html>
