:root {
  --primary:#1a191c;
  --secondary:#ffd000;
  --on-primary:#F0F0F0;
  --on-secondary:#F9D949;
  --gr-primary:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(254, 177, 57, 1) 48%);
  --light:#FFF;
  --dark:#000;
  --light-secondary: #c4c4c4;
}


a{
  text-decoration: none;
  color: unset;
}

.label-warning{
  background-color: var(--secondary);
  padding: 1px 2px;
}

.detail-content #list-menus{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.detail-menus ul{
  padding-left: 16px;
}

.review-item{
  border-bottom: 1px solid var(--light-secondary);
  padding: 8px;
}

.reviews-form{
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
}

#reviews input, #reviews textarea{
  border: 1px solid var(--primary);
  border-radius: 8px;
  background-color: transparent;
  min-height: 40px;
  padding: 8px;
  width: -webkit-fill-available;
  display: block;
  margin-bottom: 8px;
}


.alert-success{
  padding: 2px 4px;
  border-radius: 5px;
  background-color: rgb(102, 255, 102);
  color: rgb(17, 75, 4);
}

.alert-danger{
  padding: 2px 4px;
  border-radius: 5px;
  background-color: rgba(255, 163, 163, 0.746);
  color: rgb(76, 8, 8);
}

.my-2{
  margin: 1rem 0;
}

.my-3{
  margin: 1.2rem 0;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: var(--primary);
  color: var(--light) !important;
  z-index: 100;
  text-decoration: unset;

  &:focus {
    top: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 1) 22%, rgba(250, 250, 250, 1) 33%, rgba(240, 240, 240, 1) 59%, rgba(240, 240, 240, 1) 70%, rgba(240, 240, 240, 1) 75%, rgba(240, 240, 240, 1) 77%, rgba(240, 240, 240, 1) 80%, rgba(241, 241, 241, 1) 89%, rgba(231, 231, 231, 1) 100%);
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.open{
  display: block !important;
}

header {
  display: block;
  min-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

#jumbotron-home{
  background-image: url('../../dist/images/heros/hero-image_2.jpg');
}

#jumbotron-favorite{
  background-image: url('../../dist/images/heros/hero-image_1.jpg');
  min-height: 210px;
  overflow-y: hidden;
}

.jumbotron {
  min-height: 200px;
  background-size: auto;
  background-color: #000;

  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    min-width: inherit;
    min-height: inherit;
    background-color: #0000006b;
    padding: 32px 16px;

    .title {
      color: var(--light);
      font-family: 'Noto Serif Display', serif;
      font-weight: 600;
    }
  }

  .sub-title {
    color: var(--light);
    margin-bottom: 16px;
    font-family: 'Noto Serif Display', serif;
    font-weight: 400;
  }
}

nav {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
}

.dropdown-menu a {
  color: var(--light);
  text-decoration: unset;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  font-size: 12pt;
}

.nav-item .nav-link {
  padding: 12px;
  color: var(--dark);
  text-decoration: unset;
}

.nav .nav-brand {
  margin: 16px;
  min-height: 44px;
}

.nav-brand a {
  font-size: 18pt;
  font-weight: 800;
  color: var(--light);
  text-decoration: unset;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  padding: 8px 0;
}

nav .nav-link {
  &:hover, &:active, &:focus {
    color: var(--secondary);
  }
}

main {
  display: block;
  position: relative;
  overflow-x: hidden;
}

.sub-main {
  padding: 8px;
  margin-bottom: 32px;

  h2 {
    margin: 8px auto;
    color: var(--primary);
    font-family: 'Noto Serif Display', serif;
  }
}

#subscribe {
  text-align: center;

  form {
    margin: 16px auto;
    border: 1px solid var(--primary);
    min-width: 200px;
    border-radius: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  input[type=email] {
    border: none;
    background-color: transparent;
    height: 40px;
    padding: 8px;
    width: -webkit-fill-available;
  }

  form button {
    min-width: fit-content;
    margin: 0;
    border: none;
    border-top-right-radius: 12px;
    border-end-end-radius: 12px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 12pt;
    font-family: 'Poppins', sans-serif;
  }
}

.container {
  margin: auto;
  padding: 32px;
}

.grid-container {
  display: grid;
  row-gap: 16px;
}

.card {
  background-color: var(--light);
  border-radius: 15px;
  border: 1px solid --dark;
  display: block;
  box-shadow: 0 1px 2px 0 rgba(188, 188, 188, 0.44);

  .card-footer {
    padding: 0 16px 16px 16px;
  }

  .title {
    font-weight: 500;
  }
}

.d-flex{
  display: flex;
}

.d-flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d-flex-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider-content {
  margin: 16px 0;
  padding-bottom: 16px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  > div {
    scroll-snap-align: start;
    transition: opacity 0.3s ease-in;
  }
}

.slider .arrow {
  width: 44px;
  height: 44px;
  padding: 4px;
  margin: auto;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 14pt;
  background-color: rgba(255, 255, 255, 0.6);
  transition: opacity 0.5s ease;
  color: var(--primary);
  box-shadow: 0 1px 1px 1px rgb(236, 236, 236);
}

#left-arrow {
  left: 10px;
}

#right-arrow {
  right: 10px;
}

.btn {
  border: 0;
  padding: 12px 16px;
  border-radius: 8px;
  margin: 8px 0;
  text-decoration: unset;
  font-weight: 500;
  font-size: 12pt;
  font-family: 'Poppins', sans-serif;
}

.btn-sm{
  border: 0;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 0;
  text-decoration: unset;
  font-weight: 500;
  font-size: 11pt;
  font-family: 'Poppins', sans-serif;
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--primary);
  letter-spacing: 1px;

  &:hover, &:active, &:focus {
    background-color: var(--on-secondary);
    color: var(--primary);
  }
}

.btn-primary{
  background-color: var(--primary);
  color: var(--light);
  letter-spacing: 1px;

  &:hover, &:active, &:focus {
    background-color: var(--on-primary);
    color: var(--primary);
  }
}

.icon-secondary {
  color: var(--secondary);
}

footer {
  background-color: var(--primary);
  color: var(--light);
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 16px;

  .info {
    .right, .left {
      display: flex;
      flex-direction: column;
    }
  }
}

.info .right {
  text-align: right;
}

footer {
  a, p {
    color: inherit;
    text-decoration: unset;
    margin: 0;
    font-weight: 400;
    display: inline;
    font-size: 12pt;
    padding: 12px;
  }

  a:focus {
    color: var(--secondary);
  }

  .copyright {
    text-align: center;
  }
}

footer #footerTools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.dropdown .dropdown-menu {
  color: var(--light);
}

#likeButtonContainer{
  padding: 50px;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  border: 1px var(--secondary) solid;
  font-size: 18px;
  background-color: var(--secondary);
  cursor: pointer;
}

.text-secondary{
  color: var(--secondary);
}

::-webkit-scrollbar{
  width: 8px;
  }
  ::-webkit-scrollbar-track{
    background: var(--light);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(133, 133, 133, 0.3);
  }
::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: 4px;
  -webkit-box-shadow:inset 0 0 6px rgba(133, 133, 133, 0.5);
}