/* BREAKPOINT */
@media (max-width: 575px) {
  .nav {
    justify-content: space-between;
    padding: 8px auto;
    border: none;
  }

  .jumbotron {
    height: 400px;
    justify-content: end;
    align-items: start;

    .hero-img{
      height: 400px;  
    }

    .overlay{
      height: 400px;
      align-items: end;
    }

    .overlay .title {
      text-align: left;
      margin-bottom: 20px;
      margin-top: 32px;
    }
  }

  .btn-dropdown {
    display: block;
    border: none;
    outline: none;
    font-size: 23pt;
    padding: 8px;
    background-color: transparent;
    color: var(--light);
    margin: auto;
    min-height: 45px;
    min-width: 45px;
  }

  .dropdown {
    margin: 16px;
    display: flex;

    &:hover .btn-dropdown {
      color: var(--on-primary);

      /* background-color: var(--primary); */
    }
  }

  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 150px;
    padding: 0;
    z-index: 3;
    color: var(--light);
    display: none;
    background-color: var(--primary);
    transition: display 2s ease-ease-in-out;

    ul {
      list-style: none;
    }
  }

  .sub-main {
    margin: 36px 0;

    &:first-child {
      margin: 0 0 36px 0;
    }
  }

  #our-story {
    padding-bottom: 16px;

    h2 {
      padding: 16px 0;
      text-align: center;
      margin-bottom: 16px;
    }

    p {
      text-align: justify;
    }
  }

  .card {
    .card-img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .card-body {
      padding: 16px;
      min-height: 85px;
    }
  }

  .slider-content .card {
    min-width: 200px;
    margin: 0 8px;
    flex-shrink: 0;
  }

  .slider .arrow {
    display: none;
  }

  footer {
    padding: 16px 20px;

    .info {
      display: grid;
      grid-template-columns: 1fr;

      .right, .left {
        text-align: center;
      }
    }
  }

  .detail-resto{
    display: block;
    position: relative;
    padding: 24px 12px 32px 12px;
  }

  .detail-content{
    margin-left: 4px;
  }

  .favorite, .search-results{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  #reviews{
    display: block;
  }

  .reviews-content{
    margin: 16px;
  }

  .handling-page{
    margin: 64px auto;
  }

  #jumbotron-home .form, 
  #jumbotron-favorite .form{
    min-width: 80%;
    margin: 12px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  footer #footerTools {
    flex-direction: row;
  }

  .jumbotron {
    height: 55vh;

    .hero-img{
      height: 55vh;
    }

    .title{
      margin-top: 32px;
      margin-bottom: 16px;
    }

    .overlay{
      height: 55vh;
      align-items: end;
    }

    .overlay-content{
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  #our-story {
    text-align: center;
    padding: 8px;
    margin-bottom: 5rem;

    h2 {
      padding: 16px 0;
      text-align: center;
      margin-bottom: 12px;
    }

    p {
      line-height: 1.8rem;
    }
  }

  #subscribe {
    margin-bottom: 5rem;

    form {
      margin-top: 32px;
      max-width: 65%;
    }
  }

  .btn-dropdown {
    display: block;
    border: none;
    outline: none;
    font-size: 23pt;
    padding: 8px;
    background-color: transparent;
    color: var(--light);
    margin: auto;
    min-height: 45px;
    min-width: 45px;
  }

  .dropdown {
    margin: 8px 16px;
    display: flex;
  }

  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 150px;
    padding: 0;
    z-index: 99;
    color: var(--light);
    display: none;
    background-color: var(--primary);

    ul {
      list-style: none;
    }
  }

  .card {
    .card-img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .card-body {
      padding: 16px;
      min-height: 75px;
    }
  }

  .slider-content .card {
    min-width: 180px;
    margin: 0 8px;
    flex-shrink: 0;
  }

  .slider .arrow {
    display: none;
  }

  footer {
    padding: 20px 32px 8px 32px;

    .info {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .right {
        text-align: right;
      }

      .left {
        text-align: left;
      }
    }
  }

  .detail-resto{
    display: block;
    position: relative;
    padding: 24px 12px 32px 12px;
  }

  .detail-content{
    margin-left: 4px;
  }

  .favorite, .search-results{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }

  #reviews{
    display: block;
  }

  .reviews-content{
    margin: 16px;
  }

  #jumbotron-home .form, 
  #jumbotron-favorite .form{
    min-width: 70%;
    margin: 12px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  footer #footerTools {
    flex-direction: row;
  }
  .nav .nav-brand {
    margin: 16px 32px;
  }

  .jumbotron {
    border-radius: 0;
    height: 350px;

    .hero-img{
      height: 350px;
    }

    .overlay {
      height: 350px;

      .title {
        text-align: center;
        margin-bottom: 16px;
        margin-top: 50px;
      }

      .overlay-content{
        justify-content: center;
        align-items: center;
      }
    }
  }

  #our-story {
    padding: 8px 32px;
    margin-bottom: 40px;

    h2 {
      padding: 16px 0;
      text-align: center;
      margin-bottom: 12px;
    }

    p {
      text-align: center;
      line-height: 1.7rem;
    }
  }

  #subscribe {
    margin-bottom: 40px;

    form {
      margin-top: 32px;
      max-width: 55%;
    }
  }

  .btn-dropdown {
    display: block;
    border: none;
    outline: none;
    font-size: 23pt;
    padding: 8px;
    background-color: transparent;
    color: var(--light);
    margin: auto;
    min-height: 45px;
    min-width: 45px;
  }

  .dropdown {
    margin: 8px 32px;
    display: flex;
  }

  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 150px;
    padding: 0;
    z-index: 99;
    color: var(--light);
    display: none;
    background-color: var(--primary);

    ul {
      list-style: none;
    }
  }

  .card {
    .card-img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .card-body {
      padding: 16px;
      min-height: 85px;
    }
  }

  .slider-content .card {
    min-width: 200px;
    margin: 0 8px;
    flex-shrink: 0;
  }

  footer {
    padding: 20px 32px 8px 32px;

    .info {
      width: 85%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .right {
        text-align: right;
      }

      .left {
        text-align: left;
      }
    }
  }

  .detail-resto{
    display: block;
    position: relative;
    padding: 24px 12px 32px 12px;
    min-height: 100px;
  }

  .detail-content{
    margin-left: 4px;
  }

  .favorite, .search-results{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }

  #reviews{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .reviews-content{
    margin: 16px;
    padding: 16px;
    height: 400px;
    overflow-y: auto;
  }

  #jumbotron-home .form, 
  #jumbotron-favorite .form{
    min-width: 50%;
    margin: 12px 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  footer #footerTools {
    flex-direction: row;
  }
  .nav {
    font-weight: bold;
    letter-spacing: .5px;
  }

  .jumbotron {
    border-radius: 0;
    height: 350px;

    .hero-img{
      height: 350px;
    }

    .overlay {
      min-height: 350px;

      .title {
        text-align: center;
        margin-bottom: 16px;
        margin-top: 65px;
      }

      .overlay-content{
        justify-content: center;
        align-items: center;
      }
    }
  }

  #our-story {
    padding: 8px 5rem;
    margin-bottom: 4.5rem;

    h2 {
      padding: 16px 0;
      text-align: center;
      margin-bottom: 12px;
    }

    p {
      text-align: center;
      line-height: 1.9rem;
    }
  }

  #subscribe {
    margin-bottom: 40px;

    form {
      margin-top: 32px;
      max-width: 50%;
    }
  }

  .btn-dropdown {
    display: none;
  }

  .dropdown {
    margin: 8px;
    display: flex;
  }

  .dropdown-menu {
    position: relative;
    padding: 0;
    color: var(--light);
    display: block !important;
    font-weight: 500;
    letter-spacing: 1px;

    ul {
      display: flex !important;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;

      li {
        display: inline-block !important;
      }
    }
  }

  .slider .card {
    min-width: 250px;
    margin: 0 8px;
  }

  .card {
    .card-img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .card-body {
      padding: 16px;
      min-height: 80px;
    }
  }

  footer {
    padding: 20px 32px 8px 32px;

    .info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 85%;
      margin: auto;

      .right {
        text-align: right;
      }

      .left {
        text-align: left;
      }
    }
  }

  .detail-resto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
  }

  #list-menus> div{
    padding: 12px;
  }

  .detail-content{
    margin-left: 32px;
  }

  .favorite, .search-results{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }

  #reviews{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .reviews-content{
    margin: 16px;
    padding: 16px;
    height: 400px;
    overflow-y: auto;
  }

  #jumbotron-home .form, 
  #jumbotron-favorite .form{
    min-width: 50%;
    margin: 12px 0;
  }
}

@media (min-width: 1200px) {
  footer #footerTools {
    flex-direction: row;
  }
  .nav {
    font-weight: bold;
    letter-spacing: .5px;
  }

  .sub-main {
    width: 90%;
    margin: 24px auto;

    h2 {
      text-align: center;
      margin-bottom: 16px;
    }
  }

  #our-story {
    width: 70%;
    margin-bottom: 4rem;

    p {
      text-align: center;
      line-height: 2rem;
    }
  }

  #subscribe {
    margin-bottom: 40px;

    form {
      margin-top: 32px;
      max-width: 50%;
    }
  }

  .jumbotron {
    height: 80vh;
    min-width: 1000px;

    .hero-img{
      height: 80vh;
    }

    .overlay {
      height: 80vh;

      .title {
        margin-top: 70px;
        margin-bottom: 24px;
        text-align: center;
      }

      .sub-title {
        font-weight: 600;
        font-size: 14pt;
      }

      .overlay-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .nav .nav-brand {
    margin: 20px 0 20px 60px;
  }

  .btn-dropdown {
    display: none;
  }

  .dropdown {
    margin: 20px 60px 20px 0;
    display: flex;
  }

  .dropdown-menu {
    position: relative;
    padding: 0;
    display: block;
    font-weight: 500;
    letter-spacing: 1px;

    ul {
      display: flex !important;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;

      li {
        display: inline-block !important;
      }
    }
  }

  .slider .card {
    min-width: 250px;
    margin: 0 8px;
  }

  .card {
    .card-img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .card-body {
      padding: 16px;
      min-height: 80px;
    }
  }

  footer {
    padding: 32px 32px 8px 32px;
    font-size: 12pt;

    .info {
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .right {
        text-align: right;
      }

      .left {
        text-align: left;
      }
    }
  }

  .detail-resto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
  }

  #list-menus> div{
    padding: 12px;
  }

  .detail-content{
    margin-left: 32px;
  }

  .favorite, .search-results{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }

  #reviews{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .reviews-content{
    margin: 16px;
    padding: 16px;
    height: 400px;
    overflow-y: auto;
  }

  #jumbotron-favorite{
    height: 220px;
    overflow-y: hidden;
  
    .hero-img{
      width: 100%;
      object-fit: cover;
    }
  
    .overlay{
      height: 220px;
    }
  }

  #jumbotron-home .form, 
  #jumbotron-favorite .form{
    min-width: 50%;
    margin: 12px 0;
  }
}